@import '../../scss/default/color_variable';

.cs-hero_social_wrap {
  display: flex;
  position: absolute;
  top: 50%;
  writing-mode: vertical-lr;
  transform: rotate(180deg) translateY(85%);
  right: 45px;
  z-index: 10;
  &.cs-left_side {
    right: initial;
    left: 45px;
  }
}
.cs-hero_social_title {
  position: relative;
  padding-bottom: 35px;
  white-space: nowrap;
  &::after {
    content: '';
    height: 15px;
    width: 2px;
    background-color: #999696;
    display: inline-block;
    border-radius: 3px;
    margin-top: 15px;
    margin-bottom: 15px;
    position: absolute;
    bottom: -5px;
    left: 11px;
  }
}
.cs-hero_social_links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  li {
    position: relative;
    padding-bottom: 32px;
    white-space: nowrap;
    &:last-child {
      padding-bottom: 0;
    }
    &:not(:last-child) {
      &::after {
        content: '';
        height: 2px;
        width: 15px;
        background-color: #999696;
        display: inline-block;
        position: absolute;
        bottom: 16px;
        border-radius: 3px;
        right: 5px;
      }
    }
  }
}

.cs-hero_6_wrap,
.cs-hero_7_wrap {
  min-height: 100vh;
  position: relative;
  .cs-hero_social_wrap {
    z-index: 10;
    // right: 115px;
    transform: rotate(180deg) translateY(50%);
  }
}
.cs-hero.cs-style1 {
  position: relative;
  padding: 250px 0 170px;
  height: calc(100vh + 180px);
  min-height: 1000px;
  .cs-hero_title {
    font-size: 120px;
    font-weight: 700;
    margin-bottom: 60px;
    line-height: 1.25em;
    span {
      color: $accent;
    }
  }
  .cs-hero_subtitle {
    font-size: 18px;
    line-height: 1.9em;
    color: $primary;
  }
  .cs-hero_info {
    display: flex;
    align-items: center;
    > div {
      width: 50%;
      flex: none;
    }
  }
  .cs-hero_text {
    position: relative;
    z-index: 3;
  }
  .cs-slider.cs-style1 {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    * {
      height: 100%;
      width: 100%;
    }
  }
  &.cs-type2 {
    min-height: 650px;
    height: 860px;
    padding: 30px 115px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 110px;
    .cs-hero_bg {
      position: absolute;
      height: 100%;
      top: 0;
      left: 115px;
      right: 115px;
      border-radius: 15px;
      overflow: hidden;
    }
    .cs-hero_title {
      margin-bottom: 40px;
      &::first-letter {
        color: $accent;
      }
    }
    .cs-hero_social_wrap {
      transform: rotate(180deg) translateY(50%);
    }
  }
}

.cs-down_btn {
  position: absolute;
  height: 35px;
  width: 20px;
  border-radius: 10px;
  border: 2px solid #fff;
  bottom: 25%;
  left: 50%;
  margin-left: -10px;
  color: transparent;
  &:hover {
    color: transparent;
  }
  &::before {
    content: '';
    height: 5px;
    width: 5px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    animation: UpAndDown 3s infinite;
  }
}

.cs-hero.cs-style2 {
  height: 1150px;
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 80px;
  .cs-hero_tab_item {
    h2 {
      font-size: 120px;
      position: relative;
      display: inline-block;
      margin-bottom: 0;
      z-index: 2;
      a {
        color: inherit;
      }
      &::before {
        content: '';
        position: absolute;
        height: 5px;
        width: 0%;
        left: 0;
        top: 50%;
        background-color: $accent;
        transition: all 0.4s ease;
      }
    }
    .cs-hero_tab_img {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 50%;
      clip-path: inset(0 100% 0 0);
      pointer-events: none;
      animation: inactiveImageAnimation 1s forwards ease;
    }
    &:not(:last-child) {
      margin-bottom: 45px;
    }
    &.active {
      h2 {
        &::before {
          width: 100%;
        }
      }
      .cs-hero_tab_img {
        animation: activeImageAnimation 1s forwards ease;
      }
    }
  }
  .cs-hero_social_wrap {
    transform: rotate(180deg) translateY(50%);
  }
}

.cs-hero.cs-style3 {
  // background-color: #000;
  padding: 240px 0 150px;
  position: relative;
  overflow: hidden;
  .cs-hero_title {
    font-size: 100px;
    font-weight: 700;
    // margin-bottom: 60px;
    line-height: 1.6em;
  }
  .cs-hero_subtitle {
    font-size: 18px;
    line-height: 1.9em;
    color: $primary;
    max-width: 650px;
    // margin-left: auto;
    margin-bottom: 75px;
  }
  .cs-hero_text {
    position: relative;
    z-index: 5;
  }
  &.cs-shape_wrap_1 {
    .cs-shape_1:nth-child(2) {
      top: 16%;
    }
    .cs-shape_1:nth-child(3) {
      top: 82%;
      left: 47%;
    }
  }
  .cs-circle_1 {
    height: 745px;
    width: 745px;
    border-radius: 50%;
    border: 3px solid rgba($ternary, 0.2);
    position: absolute;
    top: -30%;
    left: -12%;
  }
  .cs-circle_2 {
    height: 626px;
    width: 626px;
    border-radius: 50%;
    // background: radial-gradient(
    //   50% 50% at 50% 50%,
    //   rgba(255, 74, 23, 0.8) 0%,
    //   rgba(255, 74, 23, 0) 100%
    // );
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    animation: 9s cubic-bezier(0.4, 0, 0.2, 1) 0s infinite normal none running
      light-mode;
  }
}
.cs-hero.cs-style4,
.cs-hero.cs-style5 {
  height: 100vh;
  display: flex;
  align-items: center;
  // padding: 80px 115px;
}
.bg{
  height: 100vh;
  display: flex;
  align-items: center;
  // padding: 80px 115px;
  
  width: 100vw;
  background-color: #0e1323c5;
z-index: 99;
// margin-left: 0;
position: absolute;
}
.bg1{
  height: 70vh;
  display: flex;
  align-items: center;
  // padding: 80px 115px;
  
  width: 100vw;
  background-color: #0e1323c5;
z-index: 99;
// margin-left: 0;
position: absolute;
}
.bg h2{
 color: #fff;
}

.cs-hero.cs-style4 {
  .cs-hero_text {
    position: relative;
    z-index: 10;
    clip-path: inset(0 100% 0 0);
    transition: all 0.7s ease;
  }
  .cs-hero_title {
    margin: 0;
    font-weight: 700;
    font-size: 85px;
    position: relative;
    text-decoration: underline;
    text-decoration-color: $accent;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 0.07em;
    text-underline-position: under;
    line-height: 1.4em;
    text-underline-offset: -0.11em;
  }
  .cs-hero_link {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 12;
  }
}
.cs-hero.cs-style5 {
  .cs-hero_title {
    margin: 0 0 60px 0;
    font-weight: 700;
    font-size: 100px;
    position: relative;
  }
  .cs-hero_text {
    position: relative;
    z-index: 2;
    padding-top: 25px;
    padding-left: 180px;
    top: 100px;
    opacity: 0;
    transition: all 0.8s ease;
  }
}

.swiper-slide-active {
  .cs-hero.cs-style4 {
    .cs-hero_text {
      clip-path: inset(0 0% 0 0);
      transition-delay: 0.7s;
    }
  }
  .cs-hero.cs-style5 {
    .cs-hero_text {
      top: 0;
      opacity: 1;
      transition-delay: 0.45s;
    }
  }
}
.cs-swiper_button_prev,
.cs-swiper_button_next {
  position: absolute;
  z-index: 11;
  font-weight: 600;
  color: #fff;
  bottom: 48px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    color: $accent;
  }
}
.cs-swiper_button_prev {
  left: 115px;
  svg {
    margin-right: 13px;
  }
}
.cs-swiper_button_next {
  right: 115px;
  svg {
    margin-left: 13px;
  }
}

@keyframes UpAndDown {
  0%,
  100% {
    top: 30%;
  }
  50% {
    top: 70%;
    opacity: 0.5;
    transform: translate(-50%, -50%) scale(0.8);
  }
}

@keyframes inactiveImageAnimation {
  0% {
    clip-path: inset(0 0 0 0);
  }
  100% {
    clip-path: inset(0 0 0 100%);
  }
}
@keyframes activeImageAnimation {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}
@media screen and (max-width: 1920px) {
  .cs-hero.cs-style2 {
    height: 1080px;
  }
}
@media screen and (max-width: 1540px) {
  .cs-hero.cs-style1 {
    padding-top: 220px;
    min-height: 960px;
  }
  .cs-hero.cs-style2 {
    height: 864px;
    .cs-hero_tab_item h2 {
      font-size: 100px;
    }
    .cs-hero_tab_item:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  .cs-hero.cs-style3 {
    .cs-hero_title {
      font-size: 90px;
      line-height: 1.4em;
    }
  }
  .cs-hero.cs-style1.cs-type2 {
    height: 680px;
  }
  .cs-hero.cs-style1.cs-type2 {
    .cs-hero_title {
      font-size: 100px;
    }
  }
}
@media screen and (max-width: 1400px) {
  .cs-hero.cs-style2 {
    height: 900px;
  }
  .cs-hero.cs-style1 {
    padding-top: 200px;
    min-height: 880px;
    .cs-hero_title {
      font-size: 100px;
    }
  }
  .cs-hero.cs-style3 {
    .cs-hero_title {
      font-size: 80px;
      line-height: 1.3em;
      margin-bottom: 40px;
    }
  }
  .cs-hero.cs-style2 {
    height: 768px;
    .cs-hero_tab_item h2 {
      font-size: 80px;
    }
    .cs-hero_tab_item {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
  .cs-hero.cs-style1.cs-type2 {
    .cs-hero_title {
      font-size: 80px;
    }
  }
  .cs-hero.cs-style1.cs-type2 {
    height: 600px;
    min-height: 500px;
    .cs-hero_title {
      font-size: 70px;
    }
  }
  .cs-hero.cs-style4,
  .cs-hero.cs-style5 {
    .cs-hero_title {
      font-size: 80px;
    }
  }
}
@media screen and (max-width: 1280px) {
  .cs-hero.cs-style2 {
    height: 800px;
  }
}
@media screen and (max-width: 1199px) {
  .cs-hero.cs-style1 {
    min-height: 850px;
    .cs-hero_title {
      font-size: 80px;
    }
    .cs-hero_subtitle {
      font-size: 16px;
    }
  }
  .cs-hero.cs-style3 {
    .cs-hero_title {
      font-size: 60px;
    }
    .cs-hero_subtitle {
      font-size: 16px;
      // margin-left: auto;
      margin-right: auto;
    }
  }
  .cs-hero.cs-style1,
  .cs-hero.cs-style2,
  .cs-hero.cs-style3,
  .cs-hero_6_wrap,
  .cs-hero_7_wrap {
    .cs-hero_social_wrap {
      display: none;
    }
  }
  .cs-hero.cs-style2 {
    height: 850px;
    .cs-hero_tab_item h2 {
      font-size: 80px;
    }
    .cs-hero_tab_item {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
  .cs-hero.cs-style3 {
    .cs-hero_title {
      font-size: 50px;
      margin-bottom: 30px;
    }
    .text-end,
    .cs-hero_text {
      // text-align: center !important;
    }
    .cs-hero_subtitle {
      font-size: 16px;
      margin-bottom: 40px;
    }
  }
  .cs-hero.cs-style1.cs-type2 {
    padding-left: 15px;
    padding-right: 15px;
    .cs-hero_bg {
      left: 12px;
      right: 12px;
    }
  }
  .cs-hero.cs-style4 {
    // padding: 80px 15px;
    .cs-hero_title {
      font-size: 60px;
      span::before {
        height: 5px;
        bottom: 5px;
      }
    }
  }
  .cs-hero.cs-style5 {
    padding: 80px 15px 80px 150px;
    .cs-hero_title {
      font-size: 60px;
      margin: 0 0 45px 0;
    }
    .cs-btn.cs-style1.cs-type1 {
      padding: 10px 26px;
    }
  }
  .cs-swiper_button_prev,
  .cs-swiper_button_next {
    bottom: 25px;
  }
  .cs-hero.cs-style1.cs-type2 {
    margin-top: 80px;
  }
  .cs-swiper_button_prev {
    left: 15px;
  }
  .cs-swiper_button_next {
    right: 15px;
  }
  .cs-hero.cs-style5 .cs-hero_text {
    padding-top: 0px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 991px) {
  .cs-hero.cs-style1 {
    padding-top: 60px;
    padding-bottom: 260px;
    display: flex;
    align-items: center;
    min-height: 680px;
    .cs-hero_info {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
    .cs-hero_title {
      font-size: 56px;
      margin-bottom: 20px;
    }
    .cs-hero_subtitle {
      margin-bottom: 24px;
      max-width: 500px;
    }
    .cs-hero_info > div {
      width: 100%;
    }
    .cs-down_btn {
      bottom: 220px;
    }
    &.cs-type1 {
      .cs-hero_subtitle {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .cs-hero.cs-style2 {
    height: 700px;
    .cs-hero_tab_item h2 {
      font-size: 56px;
    }
    .cs-hero_tab_item {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
  .cs-hero.cs-style3 {
    padding: 160px 0 120px;
  }
  .cs-hero.cs-style1.cs-type2 {
    .cs-hero_title {
      font-size: 50px;
    }
  }
  .cs-hero.cs-style5 {
    padding: 80px 15px 80px 100px;
  }
}
@media screen and (max-width: 575px) {
  .cs-hero.cs-style1 {
    .cs-hero_title {
      font-size: 42px;
      br {
        display: none;
      }
    }
  }
  .cs-hero.cs-style2 {
    height: initial;
    min-height: 100vh;
    padding: 150px 0 90px;
    .cs-hero_tab_item h2 {
      font-size: 42px;
    }
    .cs-hero_tab_item .cs-hero_tab_img {
      width: 100%;
      opacity: 0.8;
    }
  }
  .cs-hero.cs-style3 {
    .cs-hero_title {
      font-size: 38px;
      margin-bottom: 25px;
    }
    .cs-hero_subtitle {
      margin-bottom: 35px;
    }
  }
  .cs-hero.cs-style1.cs-type2 {
    .cs-hero_title {
      font-size: 40px;
    }
  }
  .cs-hero.cs-style1.cs-type2 {
    height: 500px;
    padding-bottom: 40px;
  }
  .cs-hero.cs-style4 {
    padding: 80px 0px;
    .cs-hero_title {
      font-size: 38px;
      span::before {
        height: 3px;
        bottom: 4px;
      }
    }
  }
  .cs-hero.cs-style5 {
    padding: 80px 15px;
    .cs-hero_title {
      font-size: 40px;
      margin: 0 0 35px 0;
    }
    .cs-btn.cs-style1.cs-type1 {
      padding: 9px 26px;
    }
  }
  .cs-swiper_button_prev {
    left: 15px;
  }
  .cs-swiper_button_next {
    right: 15px;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1490px) {
  .cs-hero.cs-style1:not(.cs-type2) .cs-hero_social_wrap.cs-left_side,
  .cs-hero.cs-style2 .cs-hero_social_wrap.cs-left_side,
  .cs-hero.cs-style3 .cs-hero_social_wrap.cs-left_side {
    left: 20px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1300px) {
  .cs-hero.cs-style1:not(.cs-type2) .cs-hero_social_wrap.cs-left_side,
  .cs-hero.cs-style2 .cs-hero_social_wrap.cs-left_side,
  .cs-hero.cs-style3 .cs-hero_social_wrap.cs-left_side {
    left: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1150px) {
  .cs-hero.cs-style1 {
    height: initial;
    min-height: initial;
    padding-top: 200px;
    padding-bottom: 350px;
    .cs-down_btn {
      bottom: 220px;
    }
  }
}
.cs-hero.cs-style1 {
  position: relative;
  padding: 250px 0 170px;
  height: calc(100vh + 180px);
  min-height: 1000px;
  .cs-hero_title {
    font-size: 90px;
    font-weight: 700;
    margin-bottom: 60px;
    line-height: 1.25em;
    max-width: 1000px;
  }
  .cs-hero_subtitle {
    font-size: 18px;
    line-height: 1.9em;
    color: $white;
  }
  .cs-hero_info {
    display: flex;
    align-items: center;
    >div {
      width: 50%;
      flex: none;
    }
  }
  .cs-hero_social_wrap {
    display: flex;
    position: absolute;
    top: 50%;
    writing-mode: vertical-lr;
    transform: rotate(180deg) translateY(85%);
    right: 45px;
  }
  .cs-hero_social_title {
    position: relative;
    padding-bottom: 35px;
    white-space: nowrap;
    &::after {
      content: '';
      height: 15px;
      width: 2px;
      background-color: #999696;
      display: inline-block;
      border-radius: 3px;
      margin-top: 15px;
      margin-bottom: 15px;
      position: absolute;
      bottom: -5px;
      left: 11px;
    }
  }
  .cs-hero_social_links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    li {
      position: relative;
      padding-bottom: 32px;
      white-space: nowrap;
      &:not(:last-child) {
        &::after {
          content: '';
          height: 2px;
          width: 15px;
          background-color: #999696;
          display: inline-block;
          position: absolute;
          bottom: 16px;
          border-radius: 3px;
          right: 5px;
        }
      }
    }
  }
  .cs-hero_text {
    position: relative;
    z-index: 3;
  }
}
.cs-down_btn {
  position: absolute;
  height: 35px;
  width: 20px;
  border-radius: 10px;
  border: 2px solid #fff;
  bottom: 25%;
  left: 50%;
  margin-left: -10px;
  color: transparent;
  &::before {
    content: '';
    height: 5px;
    width: 5px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    animation: UpAndDown 3s infinite;
  }
}

@keyframes UpAndDown {
  0%, 100% {
    top: 30%;
  }
  50% {
    top: 70%;
    opacity: 0.5;
    transform: translate(-50%, -50%) scale(0.8);
  }
}
@media screen and (max-width: 1550px) {
  .cs-hero.cs-style1 {
    padding-top: 220px;
    min-height: 960px;
  }
}
@media screen and (max-width: 1380px) {
  .cs-hero.cs-style1 {
    padding-top: 200px;
    min-height: 880px;
    // text-align: center;
    .cs-hero_title {
      font-size: 80px;
      max-width: 900px;
    }
  }
}
@media screen and (max-width: 1199px) {
  .cs-hero.cs-style1 {
    min-height: 850px;
    .cs-hero_title {
      font-size: 80px;
      max-width: 670px;
    }
    .cs-hero_subtitle {
      font-size: 16px;
    }
    .cs-hero_social_wrap {
      transform: rotate(180deg) translateY(120%);
      right: 30px;
    }
  }
  .cs-hero.cs-style1 .cs-hero_social_wrap {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .cs-hero.cs-style1 {
    padding-top: 60px;
    padding-bottom: 260px;
    display: flex;
    align-items: center;
    min-height: 680px;
    .cs-hero_info {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
    .cs-hero_title {
      font-size: 56px;
      margin-bottom: 10px;
      max-width: 470px;
    }
    .cs-hero_subtitle {
      margin-bottom: 24px;
      max-width: 500px;
    }
    .cs-hero_info > div {
      width: 100%;
    }
    .cs-hero_social_wrap {
      right: 15px;
      top: initial;
      bottom: 0;
      transform: rotate(180deg) translateY(220px);
    }
    .cs-down_btn {
      bottom: 220px;
    }
  }
}
@media screen and (max-width: 575px) {
  .cs-hero.cs-style1 .cs-hero_title {
    font-size: 42px;
    br {
      display: none;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1150px) {
	.cs-hero.cs-style1 {
    height: initial;
    min-height: initial;
    padding-top: 200px;
    padding-bottom: 350px;
  }
  .cs-hero.cs-style1 .cs-down_btn {
    bottom: 220px;
  }
}
// @use '../abstracts/' as *;


.banner {
    position: relative;

    // background: url('../../assets/background/bg-banner.png') no-repeat;
    background-size: cover;

    .block-text {
        .heading {
            margin-bottom: 40px;
            font-size: 4.5rem;
            font-weight: 600;

            span {
              background-color: $lightgreen;
                // background: linear-gradient(264.28deg, #cbffc7 -38.2%, $lightgreen 103.12%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                position: relative;
                
            }

            span.s1 {
                &::after {
                    content: '';
                    width: 317.39px;
                    height: 64.77px;
                    position: absolute;
                    bottom: -57px;
                    left: -63px;

                    // background: url('../../assets/images/icon/Line.png') no-repeat;
                }
            }
        }

       .desc {
    // padding-right: 130px;
    margin-bottom: 40px;
    font-size: 16px;
}

@media (min-width: 1200px) {
    .desc {
        padding: 0;
    }
}

        .action-btn {
            span {
                // padding: 18px 56px;
            }
        }
    }
    .banner__left {
        padding: 127px 0 0 0px;
        

        

        .pay {
            margin-top: 130px;
            h6 {
                text-transform: none;
                margin-bottom: 20px;
            }
            .list {
                display: flex;
                align-items: center;
            
                

                p {
                    font-size: 14px;
                    color: rgba(255,255,255,0.3);
                    margin-right: 16px;
                }

                ul {
                    display: flex;
                    li {
                        margin-right: 20px;
                        a {
                            span {
                                font-size: 33px;
                                opacity: 0.3;
                                transition: all 0.3s ease-in-out;
                            }

                            &:hover {
                                span {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .banner__right {
        padding: 83px 0;
        position: relative;
        .image {
            width: 551px;
            height: 700px;
            margin-left: auto;
            margin-right: 74px;
            box-shadow: 0px 16px 36px rgba(0, 0, 0, 0.25);
            border-radius: 130px;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 130px;
                position: relative;
                z-index: 2;
            }

            &::before , &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                z-index: 1;
                width: 100%;
                height: 100%;
                background: rgba(255,255,255,0.1);
                border-radius: 130px;
            }
            &::before {
                transform: rotate(-17deg);
            }
            &:after {
                transform: rotate(-7deg);
            }

            @media only screen and (max-width: 767px) {
              .banner__right .image {
                  width: 100%;
              }
          }
          
        }

        .price {
            display: flex;
            align-items: center;
            padding: 20px;
            background: $white;
            border-radius: 30px;
            position: absolute;
            top: 168px;
            right: 0;
            z-index: 3;
            animation: animate-1 15s linear 0s infinite;

            .icon {
                margin-right: 15px;
                filter: drop-shadow(0px 15px 20px rgba(164, 128, 255, 0.5));
            }
            p{
                color: #000000;
                font-size: 14px;
            }
            h5 {
                color: #000000;
            }
        }

        .owner {
            display: flex;
            align-items: center;
            padding: 20px;
            background: $white;
            border-radius: 30px;
            position: absolute;
            bottom: 206px;
            left: 4px;
            z-index: 3;
            animation: animate-3 5s linear 0s infinite;

            .image {
                margin-right: 15px;
                min-width: 70px;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            p{
                color: #000000;
                font-size: 14px;
            }
            h5 {
                color: #000000;
            }
        }
    }
}



.banner.s2 {
    padding: 73px 0 120px;
    // background: url('../../assets/images/background/bg-banner-2.png') no-repeat;

    .shape {
        top: -40%;
        left: -30%;

        &.right {
            left: auto;
            
            top: -85%;
        }
    }
    @media only screen and (max-width: 767px) {
        padding: 73px 0;
    }
    .block-text {
        .sub-heading {
            margin-bottom: 15px;
        }
        .heading {
            margin-bottom: 28px;
        }

        p {
            padding: 0 285px;
            font-size: 17px;
            font-size: 16px;
            @media only screen and (min-width: 1200px) {
              .desc {
                  padding: 0;
              }
          }
          
        }

        .action-btn span {
            padding: 19px 55px;
        }
    }
    .bannerSwiper  {
        margin-top: 100px;
    }

    .swiper-cards {
        
        .swiper-slide {
            background: transparent !important;
            box-shadow: none;
           
        }
    }

    .swiper-3d, .swiper-3d.swiper-css-mode .swiper-wrapper {
        perspective: 1800px;
    }
    

    .banner__main {
        margin-top: 21px;
        display: flex;
        
        @media only screen and (max-width: 767px) {
          .banner__main {
              flex-wrap: wrap;
          }
      
          .banner__main .card-box:first-child {
              margin-left: 20px;
              margin-top: 60px;
              transform: rotate(-7deg);
          }
      
          .banner__main .card-box:last-child {
              transform: translateX(34px) translateY(150px) rotate(4deg);
              z-index: 1;
          }
      }
      
    }
}

.card-box {
    width: 397px;
    background: linear-gradient(89.96deg, rgba(255, 255, 255, 0.05) 0.03%, rgba(255, 255, 255, 0.008) 49.66%, rgba(255, 255, 255, 0.05) 99.96%);
    backdrop-filter: blur(2px);
    padding: 31px 23px;
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.1);
    height: 100%;
    z-index: 3;
    @media only screen and (max-width: 767px) {
        width: 100%;
    }

    .top {
        margin-bottom: 20px;
        span {
            font-size: 30px;
            margin-right: 13px;
        }

        h6 {
            font-weight: 600;
            font-size: 14px;
            text-transform: uppercase;
            margin-bottom: -5px;

            &.price {
                background: linear-gradient(264.28deg, #DEC7FF -38.2%, #5C27FE 103.12%), #FFFFFF;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
                margin-top: 5px;
                margin-bottom: 0;
                font-size: 20px;
            }
        }
    }

    .content {
        .image {
            height: 349px;
            border-radius: 20px;
            overflow: hidden;
            margin-bottom: 17px;
            @media only screen and (max-width: 767px) {
                height: auto;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 0.3s ease-in-out;
            }
        }

        .info {
            align-items: center;
            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 13px;
            }

            h6 {
                font-weight: 600;
                font-size: 14px;
                margin-bottom: 2px;
            }

            p {
                font-weight: 300;
                font-size: 14px;
            }
        }
    }

    &:hover {
        .content {
            .image{
                img {
                    transform: scale(1.1);
                }
            }
        }
    }

}

.banner.s3 {

    .shape {
        top: -90%;

        &.right {
            top: -40%;
        }
    }
    .banner__left {
        // padding: 158px 0;

        @media only screen and (min-width: 768px) and (max-width: 1023px) {
          .banner__right {
              padding: 40px 0;
          }
      }
      

        .block-text {
            .heading {
                margin-bottom: 19px;
            }

            .desc {
                margin-bottom: 45px;
            }

            .action-btn {
                margin-right: 15px;
                span {
                    // padding: 18px 65px;
                }

                &.s1 {
                    span {
                        padding: 17px 30px;
                    }
                }
            }
        }

        .couter-list {
            margin-top: 123px;

            .couter-box {
                margin-right: 102px;
                max-width: 105px;

                &:last-child {
                    margin-right: 0;
                }
                &::after {
                    height: 70px;
                    top: 0px;
                    right: -59px;
                }
                .numb {
                    span {
                        font-size: 22px;
                        position: absolute;
                        right: -14px;
                        top: 3px;
                    }
                }
            }
        }
    }

    .banner__right {
        // padding: 93px 108px 93px 77px;
        // padding: 93px 108px 93px 77px;

        .image-1 {
            animation: animate-1 15s linear 0s infinite;
        }
        @media only screen and (min-width: 1200px) {
          .banner__right {
              padding: 60px 0 80px;
          }
      
          .banner__right .image-1 {
              width: 100%;
          }
      
          .banner__right .image-1 img {
              width: 100%;
          }
      }
      
    }
}

.banner-box {
    background: linear-gradient(89.96deg, rgba(255, 255, 255, 0.05) 0.03%, rgba(255, 255, 255, 0.008) 49.67%, rgba(255, 255, 255, 0.05) 99.96%);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    
    padding: 20px 26px 0px 14px;

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding-bottom: 14px;
        margin-bottom: 27px;
        .title {
            font-weight: 600;
            font-size: 26px;
        }

        .wishlist {
          display: flex;
          align-items: center;
      }
      
      .wishlist .icon {
          width: 30px;
          height: 30px;
          background: rgba(255, 255, 255, 0.1);
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 5px;
      }
      
      .wishlist p {
          margin-bottom: 0;
      }
      
    }

    .main {
        display: flex;
        p {
            color: rgba(255, 255, 255, 0.5);
        }

        .info {
            margin-right: 72px;
            h4 {
                font-size: 26px;
                margin-top: 9px;
                margin-bottom: 5px;
            }
        }

        .coundown {
            p {
                margin-bottom: 8px;
            }
            .countdown__item {
                font-family: 'Conthrax';
                font-weight: 600;
                font-size: 26px;
                color: #FFFFFF;
                margin-right: 50px;
                position: relative;
                text-align: center;

                &:last-child {
                    margin: 0;
                    &::before {
                        display: none;
                    }
                }

                &::after {
                    position: absolute;
                    bottom: -25px;
                    left: 0;
                    right: 0;
                    font-weight: 300;
                    font-size: 14px;
                    font-family: 'Readex Pro';
                    color: rgba(255,255,255,0.5);
                }

                &::before {
                    content: '';
                    position: absolute;
                    right: -19px;
                    top: 17px;
                    width: 1px;
                    height: 22px;
                    background: rgba(255,255,255,0.1);
                }

                &:nth-child(1) {
                    &::after {
                        content: 'Days';
                    }
                    
                }
                &:nth-child(2) {
                    &::after {
                        content: 'Hours';
                    }
                }
                &:nth-child(3) {
                    &::after {
                        content: 'Minutes';
                    }
                }
                &:nth-child(4) {
                    &::after {
                        content: 'Seconds';
                    }
                }
            }
        }

        @media screen and (max-width: 767px) {
          .banner__main {
              flex-wrap: wrap;
          }
      
          .banner__main .info {
              margin: 0 auto;
              text-align: center;
              width: 100%;
          }
          .banner__left {
            // padding: 127px 0 0 0px;
            text-align: center;
        }
          .banner__main .coundown {
              margin: 30px auto;
              text-align: center;
          }
      }
      
    }

    .button {
        text-align: center;
        margin-top: 22px;

        a {
            margin-bottom: -40px;
            span {
                padding: 19px 24px 19px 62px;

                svg {
                    margin-left: 40px;
                }
            }
        }
    }
}
// @use '../abstracts/' as *;



.action-btn {
    
    position: relative;
    overflow: hidden;
    font-weight: 700;
    background: linear-gradient(89.96deg, rgba(255, 255, 255, 0.05) 0.03%, rgba(255, 255, 255, 0.008) 49.67%, rgba(255, 255, 255, 0.05) 99.96%);
    backdrop-filter: blur(4px);
    padding: 5px;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;

    border: 1px solid rgba(255, 255, 255, 0.1);

    
    span {
        background: linear-gradient(264.28deg, #44c45e -38.2%, #093416 103.12%);
        padding: 10px 20px;
        border-radius: 50px;
        color: #fff;

        transition: all 0.3s ease-in-out;
        position: relative;
        overflow: hidden;

        &::after {
            background: linear-gradient(90deg, rgba(255, 255, 255, 0.13) 0px, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0));
            content: "";
            height: 200%;
            left: -210%;
            opacity: 0;
            position: absolute;
            top: -50%;
            transition: all 0.7s ease 0s;
            width: 200%;
        }
    }


    &:hover {
        span {
            &::after {
                left: -30%;
                opacity: 1;
                top: -20%;
                transition-duration: 0.7s, 0.7s, 0.15s;
                transition-property: left, top, opacity;
                transition-timing-function: linear;
            }
        }
    }

}

.action-btn.s1 {
    span {
        background: linear-gradient(264.28deg, rgba(255, 255, 255, 0) -38.2%, rgba(255, 255, 255, 0.1) 103.12%);
    }
}



#scroll-top {
    position             : fixed;
    display              : block;
    width                : 50px;
    height               : 50px;
    line-height          : 50px;
    border-radius        : 4px;
    text-align           : center;
    z-index              : 999;
    right                : 14px;
    bottom               : 23px;
    border-radius        : 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius   : 50%;
    -ms-border-radius    : 50%;
    -o-border-radius     : 50%;
    cursor               : pointer;
    overflow             : hidden;
    background: linear-gradient(264.28deg, #DEC7FF -38.2%, #5C27FE 103.12%);

    // @include flex(center ,center);


    span {
        transform: rotate(-180deg);
        display: block;
        font-size: 12px;
    }
}






#scroll-top:hover {
    transform: translateY(-7%);
}
.banner .banner__left {
  padding: 127px 0 0 0px;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .banner .banner__left {
    padding: 30px 0 0 0px;
    text-align: center;
  }
}