@import "../../scss/default/color_variable";
/*--------------------------------------------------------------
  21. FunFact
----------------------------------------------------------------*/
.cs-funfact_wrap {
  display: flex;
  align-items: center;
  // background: linear-gradient(267.18deg, #161616 0%, #080808 100%);
  background-color: #f8f6f6;

  border-radius: 15px;
  padding: 60px 80px;
  position: relative;
  z-index: 1;
  .cs-funfact_shape {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    background-position: right bottom;
    background-repeat: no-repeat;
  }
  .cs-funfact_left {
    flex: none;
    width: 40%;
    position: relative;
    z-index: 2;
  }
  .cs-funfact_right {
    flex: 1;
    padding-left: 80px;
    position: relative;
    z-index: 2;
  }
  &.cs-type1 {
    margin-top: -130px;
  }
}
.cs-funfact_heading {
  h2 {
    font-size: 50px;
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 0;
    line-height: 1.75em;
  }
}
.cs-funfacts {
  display: grid;
  grid-gap: 36px 40px;
  grid-template-columns: repeat(2,1fr);
}
.cs-funfact.cs-style1 {
  display: flex;
  align-items: center;
  .cs-funfact_number {
    margin: 0 13px 0 0;
    font-size: 50px;
    line-height: 1.3em;
  }
  .cs-funfact_text {
    span {
      font-size: 20px;
      font-weight: 700;
      display: block;
      margin-top: -4px;
      margin-bottom: -1px;
    }
    p {
      margin: 0;
    }
  }
}

.cs-funfact.cs-style2 {
  .cs-funfact_number {
    margin: 0 13px 0 0;
    font-size: 50px;
    line-height: 1.3em;
  }
  .cs-funfact_title {
    font-size: 22px;
    // color: $ternary;
    color: rgb(70, 69, 69);

    margin: 0;
  }
}

.cs-funfact_wrap_2 {
  // background-color: $black;
  // background: linear-gradient(267.18deg, #161616 0%, #080808 100%);
  box-shadow: 0px 0px 25px rgba(123, 123, 123, 0.1);
  border-radius: 15px;
  padding: 90px 90px 100px;
  position: relative;
  z-index: 1;
  &.cs-no_shadow {
    box-shadow: initial;
  }
  .cs-funfact_shape {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    background-position: right bottom;
    background-repeat: no-repeat;
    + * {
      position: relative;
      z-index: 2;
    }
  }
  .cs-funfacts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: -12px;
    >* {
      padding: 12px;
    }
  }
  &.cs-type1 {
    margin-top: -145px;
  }
  &.cs-type2 {
    background: transparent;
    box-shadow: none;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 1399px) {
  .cs-funfact_wrap,
  .cs-funfact_wrap_2 {
    padding: 60px 50px;
  }
  .cs-funfact_wrap_2.cs-type1 {
    margin-top: -102px;
  }
  .cs-funfact_wrap {
    .cs-funfact_left {
      width: 38%;
    }
    .cs-funfact_right {
      padding-left: 50px;
      width: 62%;
    }
  }
}
@media screen and (max-width: 1380px) {
  .cs-funfact_heading h2 {
    font-size: 42px;
    margin-bottom: 10px;
  }
  .cs-funfact.cs-style1 {
    .cs-funfact_number {
      font-size: 42px;
    }
    .cs-funfact_text span {
      font-size: 18px;
      margin-top: -8px;
      margin-bottom: -5px;
    }
  }
  .cs-funfact.cs-style2 {
    .cs-funfact_number {
      font-size: 42px;
    }
    .cs-funfact_title {
      font-size: 20px;
    }
  }
}
@media screen and (max-width: 1199px) {
  .cs-funfact_wrap {
    display: block;
  }
  .cs-funfact_wrap .cs-funfact_right {
    padding-left: 0;
    width: 100%;
  }
  .cs-funfact_wrap .cs-funfact_left {
    width: 100%;
    margin-bottom: 50px;
  }
  .cs-funfact_wrap_2 .cs-funfacts  {
    display: grid;
    grid-gap: 10px 25px;
  }
}
@media screen and (max-width: 991px) {
  .cs-funfact_wrap .cs-funfact_left {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  .cs-funfacts {
    grid-gap: 15px 15px;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 575px) {
  .single-funfact {
    text-align: center;
  }
  .row{
    display: flex;
    flex-direction: column;
  }
  .cs-funfacts {
    grid-gap: 15px 15px;
    grid-template-columns: repeat(1, 1fr);
  }
  .cs-funfact_wrap,
  .cs-funfact_wrap_2 {
    padding: 40px 30px;
  }
}



// next funfact

/*================================================
FunFacts CSS
=================================================*/
.funfacts-area {
  position: relative;
  z-index: 1;
  // background-image: url("/public/images/h25.jpg");
  background-position: center center;
  background-size: cover;
  padding: 60px 80px;
  background-repeat: no-repeat;
  border-radius: 20px;
  // background-attachment: fixed;
}.funfacts-area {
  position: relative;
  .cs-shape_3 {
    animation: animo-y 5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    position: absolute;
    right: 20px;
    top: -55%;
  }
}


.fan{
  // height: 300px;
}
.funfacts-area::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  // box-shadow: 2px 0 8px 3px gray;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: $gra ;
  border-radius: 25px;

  opacity: .88;
}

.single-funfact {
  text-align: center;
}

.single-funfact .icon {
  // color: #ffffff;
  font-size: 40px;
}

.single-funfact h3 {
  // color: #ffffff;
  font-size: 55px;
  margin-top: 10px;
  margin-bottom: 8px;
}

.single-funfact p {
  // color: #ffffff;
  letter-spacing: 1px;
  font-size: 16px;
  // color: rgb(82, 81, 81);
  color: $secondary;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  line-height: 1.3em;
}

/*funfact-style-two*/
.funFact {
  position: relative;
  padding-left: 60px;
}

.funFact .icon {
  // color: #ffffff;
  font-size: 40px;
  position: absolute;
  left: 0;
  top: 0;
}

.funFact h3 {
  // color: #ffffff;
  font-size: 55px;
  margin-top: 0;
  margin-bottom: 8px;
}

.funFact p {
  // color: #ffffff;
  letter-spacing: 1px;
  font-size: 17px;
  font-weight: 800;
  margin-bottom: 0;
  line-height: 1;
}

.col-lg-3:nth-child(1) .single-funfact h3, .col-lg-3:nth-child(1) .funFact h3 {
  color: $white;
  font-weight: 600;
}

.col-lg-3:nth-child(2) .single-funfact h3, .col-lg-3:nth-child(2) .funFact h3 {
  color: $white;
  font-weight: 600;
}

.col-lg-3:nth-child(3) .single-funfact h3, .col-lg-3:nth-child(3) .funFact h3 {
  color: $white;
  font-weight: 600;
}

.col-lg-3:nth-child(4) .single-funfact h3, .col-lg-3:nth-child(4) .funFact h3 {
  color: $white;
  font-weight: 600;
}
