/*--------------------------------------------------------------
## Basic Color
----------------------------------------------------------------*/
// $white: #fff;
// $black: #161616;
// $primary: #FEFEFE;
// $secondary: rgba($primary, 0.7);
// $ternary: #999696;
// $border: #4D4D4D;
// $gray: #181818;
// $accent: #FF4A17;




// $white: #fff;
// $black: #000;
// $primary: rgb(24, 24, 24);
// $secondary: rgba($primary, 0.7);
// $ternary: #999696;
// $border: #4D4D4D;
// $gray:  #fff;
$accent:  #2db460;

$darkgreen:#082d29;
$lightgreen:#2db460;
$greenwhite:#c7cfd0;
// $gray: #181818;
$gray:black;
$white: #fff;
$black: #161616;
$primary: #FEFEFE;
$secondary: rgba($primary, 0.7);
$ternary: #999696;
$border: #4D4D4D;
$gra: #181818;
// $accent: #FF4A17;
